# ignore data
data/
processed_data/

# ignore shapes content
shapes/*
!shapes/scripps_antarctic_polygons_CR.*

# ignore plots
plots/
figs/*
!figs/.gitkeep

# ignore configs that arent the template
config/*
!config/config_template.ini

# build
dist/
*.egg-info

# ignore misc
misc/

